.hover-up {
  transition: all 0.3s ease;
}

.hover-up:hover:not(.opacity-75) {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.1) !important;
}

.opacity-75 {
  filter: grayscale(0.5);
}

.bg-primary-subtle {
  background-color: #e7f1ff;
}